<%- include('header'); %>

<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4"><%= data.title %></h1>
          <p class="lead"><%= data.description %> </p>
          <a class="btn btn-primary btn-lg" href="/fullCourseView/<%= data._id %>" role="button">Learn more</a>
        </div>
      </div>

<%- include('footer'); %>